[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
flask = "*"
marshmallow = "*"
flask-cors = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
lxml = "*"
numpy = "*"
sklearn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
